
body {
    padding-top: 5rem;
  }
  
  body, html {
    height: 100%;
  }
  
  .video-wrapper {
    width: 100%;
    /*background-color: lightblue;*/
  }
  
  section {
    margin: 1rem;
    padding: 2rem;
    background-color: rgb(228, 238, 87);
    border-radius: 2em;
  }
  #f1{
    color: rgb(201, 5, 5);
  }
  #s2
{
  color: rgba(0, 255, 42, 0.541);
}
  #name
{
  color: orangered;	
}
.x1{
  color: azure;
}
  .para
{
color: white;
}
#s1
{
  color: chocolate;
}
#text
{
  color: rgba(247, 37, 0, 0.671);
}
.tg
{
  font-size: 145%;
  color: black;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0lax{text-align:left;vertical-align:top}
#t1
{
  color: rgb(255, 248, 248);
}
  .bgimg {
    background-image: url("https://github.com/Leelakrishna0981/aboutme/blob/master/Lion.jpeg?raw=true");
    height: 100%;
    position: relative;
    opacity: 0.60;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* fixed in viewport */
  }